/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: 'Palanquin', Helvetica, Arial, sans-serif;
    margin: 0;
}

.orange {
    color: #FFA052;
    text-shadow: 2px 2px 2px #000;
}

.site-title-text {
    font-size: 3em;
    margin: 0 auto;
    width: 2.2em;
}

.top-bar {
    top: 0px;
    height: 2.4em;
    /*background-color: #0A2D8B;*/
    /*background-image: url("http://www.gannett-cdn.com/static/images/patterns/noise.png");*/

    background-color: #10C5C5;
    background-image: url("../img/tile.png");
    background-repeat: repeat;

    padding: 0 200px;
}
h1 {
    /*color: #2654D0;*/
    /*text-shadow: 1px 1px 2px #BCC7E6;*/
    color: white;
    margin: 0;
    display: inline-block;
    font-size: 1.5em;
}

.title-sep {
    margin-left: 3px;
}

.top-section {
    height: 24.1em;
}

.top-section, .bottom-section {
    padding: 30px 200px;
    background-color: white;
    background-image: url("../img/tile.png");
    background-repeat: repeat;
}

h2 {
    margin: 0;
    font-size: 1.5em;
    color: #007C7C;
    text-shadow: 1px 1px 1px #B1D8D8;
}

h3, .smalltext {
    font-size: 0.9em;
    color: #5F5F5F;
    font-weight: bold;
}

.signup-overlay {
    position: absolute;
    background: white;
    /*border: 1px solid black;*/
    border-top: 0px;
    width: 21em;
    top: 0;
    left: 51%;
    height: 21em;
    padding: 0 20px;
    padding-top: 4.2em;
    background-color: #FBB77F;
    background-image: url("../img/tile.png");
    background-repeat: repeat;
    text-align: center;
}

.hp-l, .hp-r {
    width: 50%;
    display: inline-block;
    height: 20px;
}

.hp-r {
    left: 50%;
}

.signup, .bottom-section {
    background-color: #10C5C5;
    background-image: url("../img/tile.png");
    background-repeat: repeat;

    padding: 0 200px;
    height: 13em;
    padding-top: 0.8em;
}


.signup-button {
    background-color:white;
    border:1px solid;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-size:15px;
    font-weight:bold;
    padding:4px 24px;
    height: 2.4em;
}

.quick-look {
    height: 10em;
}

.signup-form {
    width: 100%;
    font-size: 1.17em;
}

.signup-email {
    width: 60%;
    font-size: 0.9em;
    height: 31px;
    margin-right: 5px;
}

.signup-button {
    font-size: 0.9em;
    width: 30%;
}


.quick-features {
    width: 100%;
}

.feature {
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.feature-inner {
    margin: 0px 20px;
}

.feature > h2 {
    top: 0px;
}

.separator {
    background-color: #022636;
    width: 100%;
    height: 2px;
}


.form-input {
    display: block;
    width: 100%;
    padding: 8px 0;
    text-indent: 2%;
    border: 1px solid #ABB0B2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.form-label {
    text-align: left;
    display: block;
}

.mc-field-group {
    padding-bottom: 1em;
}

#mc-embedded-subscribe {
    margin-top: 7px;
}



.button {
    width: 21em !important;
   border: 1px solid #000000;
   background: #007a7a;
   background: -webkit-gradient(linear, left top, left bottom, from(#27b3a0), to(#007a7a));
   background: -webkit-linear-gradient(top, #27b3a0, #007a7a);
   background: -moz-linear-gradient(top, #27b3a0, #007a7a);
   background: -ms-linear-gradient(top, #27b3a0, #007a7a);
   background: -o-linear-gradient(top, #27b3a0, #007a7a);
   background-image: -ms-linear-gradient(top, #27b3a0 0%, #007a7a 100%);
   padding: 10.5px 21px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #000000 0 1px 0;
   color: #ffffff;
   font-size: 14px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 1px solid #000000;
   text-shadow: #000000 0 1px 0;
   background: #2c8282;
   background: -webkit-gradient(linear, left top, left bottom, from(#21b89f), to(#2c8282));
   background: -webkit-linear-gradient(top, #21b89f, #2c8282);
   background: -moz-linear-gradient(top, #21b89f, #2c8282);
   background: -ms-linear-gradient(top, #21b89f, #2c8282);
   background: -o-linear-gradient(top, #21b89f, #2c8282);
   background-image: -ms-linear-gradient(top, #21b89f 0%, #2c8282 100%);
   color: #fff;
   cursor: pointer;
   }
.button:active {
   text-shadow: #000000 0 1px 0;
   border: 1px solid #000000;
   background: #1aa38a;
   background: -webkit-gradient(linear, left top, left bottom, from(#2c8282), to(#2c8282));
   background: -webkit-linear-gradient(top, #2c8282, #1aa38a);
   background: -moz-linear-gradient(top, #2c8282, #1aa38a);
   background: -ms-linear-gradient(top, #2c8282, #1aa38a);
   background: -o-linear-gradient(top, #2c8282, #1aa38a);
   background-image: -ms-linear-gradient(top, #2c8282 0%, #1aa38a 100%);
   color: #fff;
   }









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
