/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: white;
}

body, html {
    height: 100%;
}

h1 {
    font-size: 1.5em;
    font-family: "Palanquin", Arial, sans-serif;
    margin: 0;
    display: inline-block;
}

h2 {
    font-family: "Palanquin", Arial, sans-serif;
    font-size: 1.5em;
    margin: 0;
}

.h2-lbg {
    color: #405B84;
    text-shadow: 1px 1px 1px #B7B1FF;
}

.h2-dbg {
    color: white;
    text-shadow: 1px 1px 1px black;
}

h3, .smalltext {
    font-size: 0.9em;

    color: #000;
    font-weight: normal;
}

.whitetext {
    color: white;
}

.bg {
    background-color: #405B84;
}

.grain-effect {
    background-image: url("../img/tile.png");
    background-repeat: repeat;
}

.centered {
    margin: 0 auto;
    width: 760px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.top-bar {
    height: 38px;
}

.title-sep {
    margin-left: 3px;
}

.half-page {
    width: 380px;
    display: inline-block;
    vertical-align: top;
}

.main-container {
    padding-top: 20px;
}

.top-section {
    height: 26em;
    padding-top: 30px;
}

.signup-overlay {
    position: relative;
    width: 290px;
    margin: 0 auto;
    padding: 0 20px;

    /* Bring the top up so that the overlay goes over the title bar */
    top: -58px; /* top-bar = 38px + 20px padding = 58 */

    /* Add padding so the content of the overlay stays in the right place */
    padding-top: 58px;

    height: 360px;
    
    text-align: center;
}

.form-input {
    display: block;
    width: 100%;
    padding: 8px 0;
    text-indent: 2%;
    border: 1px solid #ABB0B2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.form-label {
    text-align: left;
    display: block;
}

.mc-field-group {
    padding-bottom: 1em;
}

#mc-embedded-subscribe {
    margin-top: 7px;
}

.arrow-img {
  display: block;
  margin: 0 auto;
  padding-right: 130px;
  height: 115px;
}

.button {
    width: 100%;
    border: 1px solid #5F5F5F;
    background: #388072;
    padding: 10.5px 21px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size: 1.1em;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.button:hover {
    background: #FFAE36;
    cursor: pointer;
}

.button:active {
    background: #FFA622;
}

.step-icon {
    width: 1em;
    height: 1em;
    padding: 8px;
    
    text-align: center;
    
    font-size: 2em;
    line-height: 1em;
    display: inline-block;
}

.step {
    display: inline-block;
    width: 33%;
    vertical-align: top;
}

.step-header {
    width: 70%;
    margin-left: 10px;
    display: inline-block;
    height: 48px;
    vertical-align: top;
}

.channel-example {
  padding-top: 3px;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/** At this width it's no longer possible to show everything side by side, so
    move to a stacked layout. */
@media only screen and (max-width: 760px) {

    body {
        text-align: center;
    }

    h2 {
        font-size: 1em;
    }

    h3, .smalltext {
        font-size: 0.8em;
    }

    .main-container {
        padding-top: 10px;
    }

    .centered {
        width: 100%;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }

    /** Half page elements become full page*/
    .half-page {
        width: 100%;
        display: block;
        margin: 0;
    }

    .signup-overlay {
        top: 0px;
        padding-top: 10px;
        margin: 0;
        width: auto;
        height: auto;
        padding-bottom: 20px;
    }


    /** It doesn't make sense to show the arrow */
    .arrow-img {
        display: none;
    }

    .step-by-step {
        display: none;
    }
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
